{% extends 'base_generic.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-200 p-4">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg border border-gray-300">
        <h1 class="text-2xl font-bold mb-4">Sign Up</h1>
        <p class="mb-6">Please fill in this form to create an account.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="uname" class="block text-gray-700 font-semibold mb-2">Username</label>
                <input type="text" id="uname" name="uname" placeholder="Enter Username" required class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" autocomplete="off">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Email" required class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" autocomplete="off">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="mb-4">
                <label for="cpassword" class="block text-gray-700 font-semibold mb-2">Confirm Password</label>
                <input type="password" id="cpassword" name="cpassword" placeholder="Repeat Password" required class="w-full border border-gray-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <!-- <div class="flex items-center mb-4">
                <label class="flex items-center text-gray-700">
                    <input type="checkbox" name="remember" checked="checked" class="form-checkbox">
                    <span class="ml-2">Remember me</span>
                </label>
            </div> -->
            <p class="text-gray-600 mb-6">By creating an account you agree to our <a href="terms_conditions#" class="text-blue-500 hover:underline">Terms and Privacy</a>.</p>
            <div class="items-center">
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Sign Up</button>
            </div>
            <div class="mt-4 text-center">
                <a href="{% url 'login' %}" class="text-blue-500 hover:underline">I already have an account</a>
            </div>
            {% if error_message %}
                <p class="text-red-500 mt-4 text-center">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
